---
title: Accor Arena - Accueil
text_color : Accor Arena
header_description : La plus grande salle de spectacle parisienne
button_text : Tous nos events
header_title_1 : Découvrez toute la
header_title_2 : programation

---

{% include sections/slider.html type="Concert" name_date="NINHO  - 27 Décembre 2021" text="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est quod officia nemo saepe deserunt. Saepe quidem, magni ea, sunt velit iusto ratione tempore aut facere esse minus magnam libero quia?"%}

{% include includes/section/actu.html letter_colored="A" titre="ctualités"  %}

{% include sections/programmation.html  letter_colored="P" titre="rogrammation" %}

{% include sections/categories.html letter_colored="V" titre="os styles préférés" %}

{% include sections/partenaire.html %}