<div class="section-actualites">

    {% include components/titre.html %}
    
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="item-actu">
            <div class="actu-img"></div>
            <div class="actu-txt">
                <h4>Justin Bieber Justice World Tour</h4>
                <p>Justin Bieber, la plus grande pop star de sa génération revient en France (7 ans après son dernier passage à Paris), à l’Accor Arena, Paris, le 6 mars 2023 !</p>
            </div>
            {% include components/primary-button.html text="En lire plus" %}
        </div>

        <div class="item-actu">
            <div class="actu-img"></div>
            <div class="actu-txt">
                <h4>Miam... Instant Food</h4>
                <p>L'Arena regorge de petits comptoirs food à faire saliver vos papilles, on vous en dévoile la liste juste ici. Et comme on dit, l'appétit vient en cliquant !</p>
            </div>
            {% include components/primary-button.html text="En lire plus" %}
        </div>

        <div class="item-actu">
            <div class="actu-img"></div>
            <div class="actu-txt">
                <h4>Time to Get Your House Clean in Order</h4>
                <p>Tous les chemins mènent à l'Accor Arena, n'est-ce pas ?</p>
            </div>
            {% include components/primary-button.html text="En lire plus" %}
        </div>
    </div>
</div>







   