<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class=actualité>
        <img class="img-actualité" src="justin-affiche.png" alt="affiche-justin" />
        <div class="texte-actualité">
            <div style="line-height: 150%; width: 100px;"></div>
            <div class="titre-actu">

                <h3 class="h3-titre">Justin Bieber</h3> 
                <h3 class="h3-titre">Justice World Tour</h3>
            </div>
            <div class="explication-actu">
                <p>Justin Bieber, la plus grande pop star de sa génération revient en France (7 ans après son dernier passage à Paris), à l’Accor Arena, Paris, le 6 mars 2023 !</p>
                
            </div>
     
            <a href="#" class="primary-boutton">En savoir plus</a>
        </div>
    </div>

    <div class=actualité>
        <img class="img-actualité" src="food.png" alt="affiche-justin" />
        <div class="texte-actualité">
            <div style="line-height: 150%; width: 100px;"></div>
            <div class="titre-actu">
                <h3 class="h3-titre">Miam...</h3>
                <h3 class="h3-titre">Instant Food</h3>
                
            </div>
            <div class="explication-actu">
                <p>L'Arena regorge de petits comptoirs food à faire saliver vos papilles, on vous en dévoile la liste juste ici. Et comme on dit, l'appétit vient en cliquant !</p>
            </div> 
            <a href="#" class="primary-boutton">En savoir plus</a>
        </div>
    </div>

    
    <div class=actualité>
        <img class="img-actualité" src="accor-arena.png" alt="affiche-justin" />
        <div class="texte-actualité">
            <div style="line-height: 150%; width: 100px;"></div>
            <div class="titre-actu">
                <h3 class="h3-titre">Time to Get Your</h3>
                <h3 class="h3-titre">House Clean in Order</h3>
            </div>
            <div class="explication-actu">
                <p>Tous les chemins mènent à l'Accor Arena, n'est-ce pas ?</p>
            </div>
            <a href="#" class="primary-boutton">En savoir plus</a>
        </div>
    </div>

    
</div>