<h3><strong>N</strong>os autres événements</h3>
<section class="autres-events">

<div class="container block-film">

    <div class="row centrage">

         <div class="col-lg-3 col-12 box-film">
            <span class="img-e"><img class="img-evenement" src="assets/media/the-avener.jpg" alt="event the avner"></span>
            <p class="titre-film">The avener- 17 DEC 2021</p>
            <span class="buttons-autre">{% include components/primary-button.html text="Réserver" %}</span>
        </div>
        
        <div class="col-lg-3 col-12 box-film">
            <span class="img-e"><img class="img-evenement" src="assets/media/sopico.jpg" alt="event sopico"></span>
            <p class="titre-film">Sopico- 12 OCT 2021</p>
            <span class="buttons-autre">{% include components/primary-button.html text="Réserver" %}</span>
        </div>

        <div class="col-lg-3 col-12 box-film">
            <span class="img-e"><img class="img-evenement" src="assets/media/snopp-dogg.png" alt="event snoop dog"></span>
            <p class="titre-film">Snoop Dog- 24 Feb 2021</p>
            <span class="buttons-autre">{% include components/primary-button.html text="Réserver" %}</span>
        </div>

        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="assets/media/dualipa.jpg" alt="event dua lipa">
            <p class="titre-film">Dua lipa- 8 Jan 2021</p>
            <span class="buttons-autre">{% include components/primary-button.html text="Réserver" %}</span>
        </div>
    </div>
    
</div>
</section>

