<div class="menu " id="menu-slider">

    <div class="close-but" id="btn-close">
         <i class="fas fa-times"></i>
    </div>
    
    <div class="ligne-colone">
    
         <div>
              <a href="#">Accueil</a>
         </div>
         <div>
              <a href="">Quartier faubourg</a>
         </div>
         <div>
              <a href="">Programmation</a>
         </div>
         <div>
              <a href="">Archives</a>
         </div>
         <div>
              <a href="">l’Accor Arena</a>
         </div>
         <div>
              <a href="">Contact</a>
         </div>
         <div>
              <a href="">Arena for business</a>
         </div> 
    
    </div> 

    <div class="icon-social"> 

         <i class="fab fa-facebook-f"></i>

         <i class="fab fa-instagram"></i>
         
         <i class="fab fa-twitter"></i>

    </div>

</div>
