<section class="partenaire" id="partenaire">
    <div class="part-line1" id="line1">
        <img src="/assets/media/italia.svg" alt="">
        <img src="/assets/media/spotify.svg" alt="">
        <img src="/assets/media/dhl.svg" alt="">
        <img src="/assets/media/mhd.svg" alt="">
        <img src="/assets/media/equipe.svg" alt="">
    </div>
    <div class="part-line2" id="line2">
        <img src="/assets/media/American.svg" alt="">
        <img src="/assets/media/samsung.svg" alt="">
        <img src="/assets/media/heineken.svg" alt="">
        <img src="/assets/media/jbl.svg" alt="">
        <img src="/assets/media/coca.svg" alt="">
    </div>

</section>