{% include components/titre.html text="Réserver"  %}


<div class="programmation">

  <div class="row row-cols-1 row-cols-md-4 g-8">

    {% for prog in site.data.programmation.programmation_card.list_1  %}

    <div class="col card">
      <div class="card-img" style="background-image: url('{{prog.img}}')"></div>
      <h5 class="card-title">{{prog.artiste}}</h5>
      <div class="card-text">
        <p class="card-date">{{prog.date}}</p>
        <p class="card-heure">{{prog.heure}}</p>
        <p class="card-tarifs">Tarifs : {{prog.tarif}}</p>
      </div>
      
      {% include components/primary-button.html text="Réserver"  %}
    </div>

    {% endfor %}
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-8">

    {% for prog in site.data.programmation.programmation_card.list_2  %}
    
    <div class="col card">
      <div class="card-img" style="background-image: url('{{prog.img}}')"></div>
      <h5 class="card-title">{{prog.artiste}}</h5>
      <div class="card-text">
        <p class="card-date">{{prog.date}}</p>
        <p class="card-heure">{{prog.heure}}</p>
        <p class="card-tarifs">{% assign programmation_card = prog.tarifs | prepend: "Tarifs : " %}</p>
      </div>
      {% include components/primary-button.html text=button_resa  %}
    </div>
    {% endfor %}
  </div>

  

</div>