<div class="row row-cols-1 row-cols-md-4 g-8">
  <div class="col">
    <div class="card">
      <img src="assets/images/Affiche-tryo-concert.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TRYO</h5>
        <div class="card-text">
          <p class="card-date">LUN.07 AVRIL 2022</p>
          <p class="card-heure">20H00 - CONCERT</p>
          <p class="card-tarifs">Tarifs : de 20,50€ à 49,50€</p>
        </div>
          <a href="#" class="btn-btn-primary">Tous nos events</a>
        </div>
      </div>
    </div>
  </div>
  
  