<div class="section-programmation">

  {% include components/titre.html %}

  <div class="programmation">

    <div class="row row-cols-1 row-cols-md-4 g-8">

      {% for prog in site.data.programmation.programmation_card.list_1  %}

      <div class="col card">
        <div class="card-img" style="background-image: url('{{prog.img}}')"></div>
        <div class="card-text">
          <h5 class="card-title">{{prog.artiste}}</h5>
          <p class="card-date">{{prog.date}}</p>
          <p class="card-heure">{{prog.heure}}</p>
          <p class="card-tarifs">Tarifs : {{prog.tarif}}</p>
        </div>
        {% assign btn_link = prog.link %}
        {% include components/primary-button.html link=btn_link  text="Réserver"  %}
      </div>

      {% endfor %}
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-8">

      {% for prog in site.data.programmation.programmation_card.list_2  %}
      
      <div class="col card">
        <div class="card-img" style="background-image: url('{{prog.img}}')"></div>
        <div class="card-text">
          <h5 class="card-title">{{prog.artiste}}</h5>
          <p class="card-date">{{prog.date}}</p>
          <p class="card-heure">{{prog.heure}}</p>
          <p class="card-tarifs">Tarifs : {{prog.tarif}}</p>
        </div>
        {% include components/primary-button.html text="Réserver"  %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>