<div id="slide" class="">
    <form action="#">
        <h4>Réserver</h4>
        <div class="name-container">
            <div class="name">
                <label for="name">Nom du porteur</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="firstname">
                <label for="firstname">Prénom du porteur</label>
                <input type="text" name="firstname" id="firstname">
            </div>
        </div>
        <div class="mail-container">
            <label for="mail">Adresse mail</label>
            <input type="email" name="mail" id="mail">
        </div>
        <input class="submit" type="submit" value="Poursuivre la réservation">
    </form>

    <div class="close-rsv" id="btn-close-rsv">
        <div class="icon">
            <i class="fas fa-chevron-right"></i>
        </div>
        </i><span>Fermer</span>
    </div>
</div>