<div class="container block-film">
    <div class="row">
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="assets/media/the-avener.jpg" alt="blabla">
            <p class="titre-film">The avener- 17 DEC 2021</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>

        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="assets/media/sopico.jpg" alt="blabla">
            <p class="titre-film">Sopico- 12 OCT 2021</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="assets/media/snopp-dogg.png" alt="blabla">
            <p class="titre-film">Snoop Dog- 24 Feb 2021</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="assets/media/dualipa.jpg" alt="blabla">
            <p class="titre-film">Dua lipa- 8 Jan 2021</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
    </div>

</div>