<div class="container block-film">
    <div class="row">
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="actualié.png" alt="blabla">
            <p class="titre-film">JE suis le titre</p>
            <a href="" class="btn btn-primary btn-red">Réserver</a>
        </div>

        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="actualié.png" alt="blabla">
            <p class="titre-film">JE suis le titre</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="actualié.png" alt="blabla">
            <p class="titre-film">JE suis le titre</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
        <div class="col-lg-3 col-12 box-film">
            <img class="img-evenement" src="actualié.png" alt="blabla">
            <p class="titre-film">JE suis le titre</p>
            <a href="" class="btn btn-primary">Réserver</a>
        </div>
    </div>

</div>