<section class="artist-options">
    <div class="artist-btns">
        <a href="#" class="return" title="retour à la programmation"><i class="fas fa-chevron-left"></i></a>
        <div class="share" id="btn-share">
            <span class="open" onclick="toggleBtn()"></span>
            <a href="https://www.facebook.com/AccorArena/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/accor_arena?lang=fr"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-link"></i></a>                
        </div>
    </div>
    {% include components/primary-button.html text="Réserver" %}
</section>
