<footer>
    <div class="footer-infos">
        <h6>Contactez-nous<i class="fas fa-level-down-alt"></i></h6>
​
        <div class="footer-section">
            <h5>Nous trouver</h5>
            <p>8 boulevard de Bercy
                <br/>75012, PARIS
                <br/><br/>01 75 44 04 00
            </p>
        </div>
        <div class="footer-section">
            <h5>Plan du site</h5>
            <a href="index.html"><span>Accueil</span></a>
            <a href="https://www.accorarena.com/fr/le-faubourg"><span>Quartier faubourg</span></a>
            <a href="programmation.html"><span>Programmation</span></a>
            <a href="https://www.accorarena.com/fr/offstage"><span>Archives</span></a>
            <a href="https://www.accorarena.com/fr/accor-arena"><span>L'Accord Arena</span></a>
            <a href="#"><span>Contact</span></a>
            <a href="https://www.accorarena.com/fr/arena-for-business"><span>Arena for Business</span></a>
        </div>
        <div class="footer-section">
            <h5>Infos pratiques</h5>
            <a href="#">politique de confidentialité</a>
            <a href="#">politique de cookies</a>
            <a href="#">mentions légales</a>
            <a href="#">conditions d’utilisatioN</a>
            <a href="#">contactez-nous</a>
            <a href="#">FAQ</a>
            <a href="#">CGU</a>
            <a href="#">GGV</a>
        </div>
    </div>
    <div class="footer-newsletter">
        <span>Recevoir notre newsletter</span>
        <form>
            <input type="email" name="newsletter" id="newsletter" placeholder="prenom.nom@adressemail.com">
            <input type="submit" class="primary-button" value="s'inscrire" id="news-submit">
        </form>
    </div>
    <div class="footer-credits">
        <span>Created by ♡️ • nebulab agency ©</span>
    </div>
</footer>