<div class="section-artiste">

    <div class="artiste-text">
        <p>
            Tryo marquera ses 25 ans de carrière lors de cette date unique à l’Accor Arena ! 
            Imaginez : une grande scène au centre de l’arène, et vous tout autour, 25 ans de chansons revisitées, des pépites du répertoire jamais interprétées, des artistes amis à nos côtés, chanteurs, musiciens et bien plus, des surprises, des cadeaux pour une grande fête à laquelle vous êtes conviés !
            Ne manquez pas le retour du groupe à Bercy !
        </p>
        <span>17 Décembre 2021</span>
    </div>
    <div class="artiste-bann"></div>
</div>

    