<section class="spotify">



    <div class="widgets">

        <a class="widget-first">
            <p class="sur-titre">THIS</p>
            <p class="titre">Tryo</p>
            <span class="img-spot"></span>
            <i class="fab fa-spotify"></i>
        </a>

        <a class="widget-seconde">
            <span class="img-spot"></span>
            <i class="fab fa-spotify"></i>
            <p class="sur-titre">2020</p>
            <p class="titre">XXV</p>
    
        </a>
        <a class="widget-therd">
            <span class="img-spot"></span>
            <i class="fab fa-spotify"></i>
            <p class="sur-titre">2016</p>
            <p class="titre">Vent debout</p>
    
        </a>
    </div>


    

</section>