<section class="spotify">

    <h3><strong>T</strong>ryo sur spotify</h3>

    <div class="widgets">

        <a href="#" class="spotify-item">
            <div class="img-spot"></div>
            <div class="spot-txt">
                This is
                <b>Tryo</b>
            </div>
            <i class="fab fa-spotify"></i>
        </a>

        <a href="#" class="spotify-item">
            <div class="img-spot"></div>
            <div class="spot-txt">
                2020
                <b>XXV</b>
            </div>
            <i class="fab fa-spotify"></i>
        </a>

        <a href="#" class="spotify-item">
            <div class="img-spot"></div>
            <div class="spot-txt">
                2016
                <b>Vent Debout</b>
            </div>
            <i class="fab fa-spotify"></i>
        </a>

    </div>


    

</section>