$primary-color: #EE33EE;
/*-------VARIABLES--------*/
/*Couleurs*/
$rouge : #D03423;
$vert: #045D62;
$bleu: #2B2D42;
$noir: #161219;
$gris: #CED0CE;
$noire-opac: #0000002c;
$blanc: #FDFFFF;
$rouge-hover: #972215;
$gradient-title: linear-gradient(90deg, #2B2D42 0%, #045D62 100%);
/*Marges*/
$margin-desktop : 120px;
$margin-mobile : 60px;
/*Font Family*/
$font-titre : "Staatliches";
$font-text : "Raleway";