.section-actualites {

    h3::before {
        content: "";
        height: 4px;
        background-color: $noir;
        width: 120px;
        margin-right: 60px;
        display: inline;
      }

    .row {

    margin: 0 $margin-desktop;
    justify-content: space-between;

        .item-actu {
            max-width: 340px;
            border-radius: 5px;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;

            .actu-img {
                width: 100%;
                border-radius: 5px;
                height: 223px;
                background-size: cover;
                background-position: center;
            }
            .actu-txt {
                flex:1;

                h4 {
                    background-image: linear-gradient(90deg, #2B2D42 0%, #045D62 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: $font-titre;
                    font-size: 28px;
                    letter-spacing: 1px;
                    margin: 30px 0;
                    font-weight: bold;
                    pointer-events:none;
                }
            }
            a {
                margin-top: 20px;
            }
        }
        .item-actu:nth-child(1) .actu-img {
            background-image: url('/assets/media/justin-affiche.png');
        }
        .item-actu:nth-child(2) .actu-img {
            background-image: url('/assets/media/food.png');
        }
        .item-actu:nth-child(3) .actu-img {
            background-image: url('/assets/media/accor-arena.png');
        }
    }


}

.texte-actualité {
    width: 240px;
    text-align: left;
    font-family: $font-text;
    color: $bleu;
    
  }

.titre-actu{
    margin-top: 30px;
    font-size: 15px;
    font-family: $font-titre;
    color: $bleu;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase ;
}
.explication-actu{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 140px;
    font-size: 14px;;
    color: $bleu;
    font-family: $font-text;
}

@media (max-width: 650px) {
    .section-actualites {
        .row {
            margin: 0 $margin-mobile $margin-mobile $margin-desktop;

            .item-actu {
                margin: 0 0 60px;
                max-width: unset;
                width: 100%;
                flex-direction: row;
                .actu-img {
                    width: 120px;
                    margin-right: 35px;
                    height: 100%;
                    min-height: 180px;
                }
                .actu-txt  {
                    h4 {
                        margin: 0 0 30px;
                    }
                }
                
                a {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .section-actualites {
        .row {
            margin: 0 $margin-mobile $margin-mobile $margin-mobile;

        }
    }
}




