.affiche{
     margin: 0 120px 120px 120px;
       position: relative;
       height: 419px;
       background-image: url(/assets/media/tryo-banniére.jpg);
       background-size: 100%;
       background-repeat: no-repeat;
       border-radius: 5px;

       .button-artiste{
        position: absolute;
        bottom: -30px;
        left: $margin-mobile;
        
        padding: 20px 105px;
        background-color: $rouge;
        color: $blanc;
        border-radius: 5px;
        font-family: $font-titre;
        text-transform: uppercase;
        text-align: center;
        font-size: 28px;
        font-style: bolder;
        letter-spacing: 6%;
        transition: background-color .3s ease-in-out;

        }

        .button-artiste:hover{
          color: $blanc;
          background-color: $rouge-hover;
        }
     }




