.autres-events{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.centrage{
    display: flex;
    justify-content: space-between;
}

.img-evenement{
    position: relative;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    z-index: 0;
}
    
.img-e{
    position: absolute;
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    z-index: 1;

    &::after{
        content: "";
        position: absolute;
        background: linear-gradient(90deg, #2B2D42 0%, rgba(196, 196, 196, 0) 100%);
        background-size: cover;
        border-radius: 5px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}



.buttons-autre{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

  
.box-film{
    position: relative;
}

.block-film{margin: 0 120px 120px 120px;}
  
.box-film .titre-film{
    position: absolute;
    bottom: 25px;
    color: white;
    left: 35px;
    font-family: $font-titre;
    z-index: 2;
}

 
.box-film .btn{
    position: absolute;
    top: -15px;
    right: 15px;
    background-color:$rouge;
    border: 1px solid $rouge;
    transition: background-color 0,25ms;
}


@media only screen and (max-width: 600px) {
    .box-film .img-evenement{
        width: 100% !important;
    }
    .box-film {
        margin: 30px 0;
    }
}
.box-film .btn:hover{
    
    background-color:$rouge-hover;
 } 
