




.sect-button-artiste{
    display: flex;
    justify-content: space-between;
    margin: 0 120px 120px 120px;
    width: 1144px;
    

    .butt{
        display: flex;
        

        .icone-cercle{
            background-color: $gris;
            height: 60px;   
            width: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $rouge;
            font-size: 25px;
            &:hover{
                background-color: rgb(168, 168, 168);
    
            }
            &:first-child{
                margin-right: 20px;
            }
        }

    }   
    .reserv-button{
        margin-top: 20px;
        margin-left: 985px;
       position: absolute;
       padding: 10px 20px;
       background-color: $rouge;
       color: $blanc;
       border-radius: 5px;
       font-family: $font-text;
       text-transform: uppercase;
       text-align: center;
       font-size: 16px;
       font-weight: bolder;
       letter-spacing: 4%;
       transition: background-color .3s ease-in-out;
       
       &:hover{
       color: $blanc;
       background-color: $rouge-hover;
       }
    }
             
}   
    


