footer {
    background-color: $noir;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
    &::after {
        content:"";
        height: 259px;
        width: 308px;
        background-image: url('/assets/media/shape_2.svg');
        position: absolute;
        bottom:0;
        left:5%;
    }
    .footer-infos {
        width: calc(100% - 140px);
        display:flex;
        color: $blanc;
        font-family: $font-text;
        text-transform: uppercase;
        margin: $margin-mobile $margin-mobile 0;
        font-size: 14px;
        justify-content: space-between;
        letter-spacing: 1px;
        p {
            line-height: 24px;
        }
        h6 {
            font-size: 20px;
            margin: $margin-mobile $margin-mobile $margin-mobile 45px;
            position: relative;
            i{
                content:"\f10d";
                font-family: "Font Awesome 5 Free";
                position: absolute;
                transform: rotate(90deg);
                top: 30px;
                left: 0;
            }
        }
        .footer-section {
            margin: $margin-mobile;
            display: flex;
            flex-direction: column;
            h5 {
                color: $rouge;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 20px;
                white-space: nowrap;
            }
            a {
                white-space: nowrap;
                color: $blanc;
                margin-bottom: 10px;
            }
        }
    }
    .footer-newsletter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin:$margin-mobile $margin-desktop;
        span {
            color: $blanc;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
            font-family: $font-text;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        form {
            display:flex;
            input#newsletter {
                background-color: rgba(206,208,206, .12);
                border: 1px solid $blanc;
                padding: 10px;
                border-radius: 5px;
                font-family: $font-text;
                margin-right: 40px;
                width: 390px;
                color: $blanc;
            }
            #news-submit {
                outline: none;
                border:none;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
    }
    .footer-credits{
        align-self: center;
        color: $gris;
        margin-bottom: $margin-mobile;
    }
}

@media (max-width: 1200px) {
    footer {
        .footer-infos {
            .footer-section h5 {
                white-space: normal;
            }
            .footer-section a {
                white-space: normal;
            }
        }
    }

  }
@media (max-width: 1000px) {
    footer {
        &::after {
            height: 200px;
            width: 244px;
        }
        .footer-infos {
            width: calc(100% - 180px);
            flex-wrap: wrap;
            .footer-section {
                width: 33%;
            }
            .footer-section:nth-child(3) {
                margin-top: 0;
            }
            .footer-section:nth-child(4) {
                margin-top: 0;
            }
        }
        .footer-newsletter {
            margin: 0 120px 60px;
        }
    }
}
@media (max-width: 900px) {
    footer {
        .footer-infos {
            .footer-section {
                margin: 60px 30px;
            }
        }
        &::after {
            height: 130px;
            width: 158px;
        }
    }
}
@media (max-width: 750px) {
    footer {
        .footer-infos {
            h6 {
                display: none;
            }
            .footer-section:nth-child(3) {
                margin-top: 60px;
            }
            .footer-section:nth-child(4) {
                width: 100%;
            }
        }
        &::after {
            height: 130px;
            width: 158px;
        }
        .footer-newsletter {
            margin: 0 60px 60px;
            justify-content: flex-end;
        }
    }
}
@media (max-width: 650px) {
    footer {
        .footer-infos {
            flex-direction: column;

            h6 {
                width: 100%;
            }
            .footer-section {
                width: 100%;
            }
        }
        .footer-newsletter {
            margin: 0 60px 80px;
            justify-content: flex-start;
            width: calc(100% - 200px);
        }

    }
}
@media (max-width: 650px) {
    footer {
        .footer-infos {
            flex-direction: column;
            margin: 30px auto 0;
            width: 60%;

            h6 {
                width: 100%;
            }
            .footer-section {
                width: 100%;
                margin: 60px auto 0;
                &:nth-child(3) {
                    margin-top: 60px;
                }
                &:nth-child(4) {
                    margin-top: 60px;
                    margin-bottom: 60px;
                }
            }
        }
        .footer-newsletter {
            width: 60%;
            margin: 0 auto 80px;
            form {
                flex-direction: column;
                width: 100%;
                input#newsletter {
                    width: 100%;
                }
                #news-submit {
                    margin-top: 40px;
                    width: 120px;
                }
            }

        }

    }
}
@media (max-width: 400px) {
    footer {
        .footer-infos {
            margin: 30px 30px 0;
            width: calc(100% - 60px);
            .footer-section {
                margin: 0 auto;
            }
        }
        .footer-newsletter {
            width: calc(100% - 60px);
            margin: 0 30px 80px;
        }
        &::after {
            height: 130px;
            width: 158px;
            transform: rotate(90deg) rotateY(180deg) rotateX(180deg);
            top: 20%;
            left: unset;
            right: -14px;
        }
    }
} 