.info{
   display: flex;
   justify-content: center;
   margin-bottom: 120px;


    .rectangle{
        position: relative;
        background-color: $bleu;
        border-radius: 5px;
        width: 1144px;
        height: 460px;


        .img-tryo{
            position: absolute;
            border-radius: 5px;
            bottom: 45px;
            right: 35px;
          }
 
       
       .encare-text{
        color: honeydew;
        position: absolute;
        background-color: $noire-opac;
        width: 560px;
        height: 330px;
        border-radius: 5px;
        bottom: 90px;
        left: 35px; 

        .txt{
            
        }

        .date-button{
            bottom: -45px;
            left: 20px;
           position: absolute;
           padding: 25px 90px;
           background-color: $vert;
           color: $blanc;
           border-radius: 5px;
           font-family: $font-text;
           text-transform: uppercase;
           text-align: center;
           font-size: 24px;
           font-weight: bolder;
           letter-spacing: 4%;
           transition: background-color .3s ease-in-out;
       }
       .date-button:hover{
           color: $blanc;
           background-color: $rouge-hover;
       }        
    }
    }





    }


