.partenaire{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 120px;
    margin: $margin-desktop 0;
    overflow: hidden;
    img{
        width: 150px;
        height: 60px;
    }
    .part-line1{
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
    }
    .part-line2{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;
        right: 0;
    }
}