.slider{
    position: relative;
    height: 100vh;
    background-image: url(/assets/media/sliderPict.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    &::before{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgba(48, 43, 66, 1), rgba(43, 45, 66, 0));
    }
    .info-slider{
        z-index: 10;
        color: $blanc;
        width: 40%;
        margin: 0 0 120px 120px;
        .type{
            font-family: $font-titre;
            font-size: 20px;
            letter-spacing: 9%;
        }
        h4{
            font-family: $font-titre;
            font-size: 45px;
            text-transform: uppercase;
        }
        .info-name-date{
            font-family: $font-text;
            font-size:30px;
            font-weight: 300;
            white-space: nowrap;
            display: block;
            margin-bottom: 10px;
        }
        .text-slider{
            font-family: $font-text;
            font-size: 16px;
            letter-spacing: 4%;
            text-transform: uppercase;
        }
    }
    .reserver{
        position: absolute;
        top: 50%;
        right: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ced0ce80;
            border-radius: 50%;
            border: 1px solid $blanc;
            margin-right: 20px;
            i{
                color: $rouge;
                font-size: 25px;
            }
        }
        span{
            font-family: $font-text;
            text-transform: uppercase;
            color: $blanc;
        }
    }
    #slide{
        z-index: 12;
        position: absolute;
        right: 0;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bleu;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
        &.openSlide{
            transform: translateX(0%)
        }
        form{
            display: flex;
            flex-direction: column;
            width: 45%;
            h4{
                align-self: flex-start;
                font-family: $font-titre;
                font-size: 45px;
                text-transform: uppercase;
                color: $blanc;
                margin-bottom: 40px;
            }
            .name-container{
                display: flex;
                justify-content: space-between;
                .name{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                }
                .firstname{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                }
            }
            .mail-container{
                display: flex;
                flex-direction: column;
                margin: 20px 0;
            }
            input{
                border: 1px solid #FDFFFF;
                border-radius: 5px;
                padding: 10px 10px;
                background-color: #ced0ce13;
                color: $blanc;
                font-family: $font-text;
            }
            label{
                font-family: $font-text;
                color: $blanc;
                margin-bottom: 10px;
            }
            .submit{
                border: none;
                background-color: $rouge;
                color: $blanc;
                text-transform: uppercase;
                margin-top: 10px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
            }
            .submit:hover{
                background-color: $rouge-hover;
            }
        }
        .close-rsv{
            position: absolute;
            top: 50%;
            left: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #ced0ce80;
                border-radius: 50%;
                border: 1px solid $blanc;
                margin-right: 20px;
                i{
                    color: $rouge;
                    font-size: 25px;
                }
            }
            span{
                font-family: $font-text;
                text-transform: uppercase;
                color: $blanc;
            }
        }
    }
}