
h3{
    color: $bleu;
    font-size: 42px;
    text-transform: uppercase;
    font-family: $font-titre;
    letter-spacing: 1px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0;
}

h3::after{
    content:'';
    background-color: $noir;
    width: 180px;
    height: 4px;
    margin-left: 60px;
}

h3::before{
    content:'';
    background-color: $noir;
    width: 180px;
    height: 4px;
    margin-right: 60px;
}