
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-titre;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $noir;
    margin: $margin-desktop;

    strong {
        font-weight: 400;
        color: $rouge;
    }
}
h3.left::before {
    content: "";
    height: 4px;
    background-color: $noir;
    width: 120px;
    margin-right: 60px;
    display: inline;
  }
h3.right::after {
    content: "";
    height: 4px;
    background-color: $noir;
    width: 120px;
    margin-left: 60px;
    display: inline;
}